* {
  margin: 0;
  padding: 0;
  cursor: pointer;
}

h3 {
  margin: 0;
  font-size: 24px;
  line-height: 32px;
  text-transform: uppercase;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-family: 'Titillium', sans-serif;
  font-weight: 600;
}

p {
  font-size: 14px;
  font-weight: 300;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.grid {
  display: -ms-grid;
  display: grid;
}

.hide {
  display: none;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #111;
}

.header__top {
  max-width: 1200px;
  position: relative;
  display: block;
  margin: 0 auto;
}

.header__top h1 {
  display: inline-block;
  width: 80%;
  font-size: 12px;
  color: #ff043c;
  line-height: 18px;
}

.flex--header {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.flex--header .flex--menu {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 1rem;
}

.flex--header .flex--mobile {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ff043c;
  color: #fff;
}

.flex--header .flex--mobile a {
  color: #fff !important;
}

.header__body {
  position: relative;
  margin: 0 2rem;
  text-align: center;
}

.header__body .logo {
  width: 138px;
  height: 62px;
}

.header__body .menu--nav ul {
  list-style-type: none;
}

.header__body .menu--nav ul h2 {
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
}

.header__body .menu--nav ul li {
  margin-left: 2rem;
  padding: 1rem 0.5rem;
  cursor: pointer;
}

.header__body .menu--nav ul li:hover {
  background-color: #ff043c;
  color: #fff;
}

.header__body .menu--nav ul li a {
  color: #111;
  text-decoration: none;
}

.header__body .menu--nav ul li a:hover {
  background-color: #ff043c;
  color: #fff;
}

.header__body .menu--nav #mobile-menu {
  margin-top: 1.5rem;
  cursor: pointer;
}

.header__body .menu--nav #mobile-menu div {
  width: 40px;
  height: 5px;
  background-color: #111;
  margin: 6px 0;
}

main .activities {
  margin: 20px 0 26px 0;
  width: 100%;
}

main .activities hr {
  margin-top: 2rem;
}

main .activities .grid--screen {
  grid-gap: 1em;
}

main .grid {
  justify-items: center;
}

main .grid div {
  max-width: 300px;
  padding: 0 1rem;
}

main .grid div button {
  border: none;
  width: 95%;
  padding: 1rem 0;
  background-color: #ff043c;
  min-height: 55px;
  margin: 0 0.5rem;
}

main .grid div button:hover {
  background-color: #fff;
}

main .grid div button a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  padding: 1rem 2rem;
  display: block;
}

main .grid div button a:hover {
  color: #111;
}

main .square {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  display: inline-block;
}

main .active, main .square:hover {
  background-color: #ff043c;
}

main .slideshow-container {
  max-width: 1800px;
  position: relative;
  margin: auto;
}

main .slideshow-container a {
  color: white;
  background-color: #ff043c;
}

main .slideshow-container .mySlides .numbertext {
  position: absolute;
  top: 0;
  padding: 8px 12px;
  color: white;
}

main .slideshow-container .mySlides img {
  max-height: 400px;
}

main .slideshow-container .prev, main .slideshow-container .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin: 0 1rem;
  font-size: 15px;
  padding: 0.5rem;
}

main .slideshow-container .prev:hover, main .slideshow-container .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

main .slideshow-container .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

main .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

main .website-container {
  margin: auto;
  max-width: 1280px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main .website-container h3 {
  text-align: center;
  font-size: 24px;
  line-height: 32px;
  text-transform: uppercase;
}

main .website-container img {
  padding-top: 2em;
}

main .website-container .arena {
  margin: 20px 0 26px 0;
  width: 100%;
  display: block;
}

main .website-container .arena .grid__1 {
  max-width: 300px;
  -ms-grid-column-align: center;
      justify-self: center;
}

main .website-container .arena p {
  text-align: justify;
  line-height: 1.5em;
  padding: 1.8em;
  margin-bottom: 2rem;
}

main .website-container .arena p strong {
  font-weight: bold;
}

main .outside--activities, main .inside--activities, main .education, main .gallery, main .references {
  text-align: center;
}

main .outside--activities div, main .inside--activities div, main .education div, main .gallery div, main .references div {
  margin-top: 1em;
}

main .contact {
  text-align: center;
  margin: 1rem 3rem;
}

main .contact h3, main .contact p {
  display: inline;
}

main .contact h3 {
  color: #ff043c;
  margin-bottom: 2rem;
}

main .contact p {
  color: #585858;
}

main .career .career__grid {
  display: -ms-grid;
  display: grid;
}

main .career .career__grid img {
  -ms-grid-column-align: center;
      justify-self: center;
  margin-top: 1.5rem;
}

main .career .no-grid {
  margin-top: 1rem;
  font-size: 1rem;
}

main .image-block {
  margin-bottom: 2rem;
}

main .image-block div {
  width: 200px;
  height: 100px;
  background-color: #111;
  color: #fff;
  position: relative;
  margin-left: 1rem;
}

main .image-block div h1 {
  position: absolute;
  top: 40%;
  left: 50%;
}

main .image-block article {
  margin-left: -2rem;
}

main .image-block img {
  width: 310px;
  height: 206px;
}

footer {
  display: block;
  margin: 0 auto;
  text-align: center;
  background-color: #ff043c;
  color: #fff;
  margin-top: 3rem;
}

footer h6 {
  margin: 0;
  font-size: 24px;
  line-height: 32px;
  text-transform: uppercase;
  color: #fff;
}

footer h5 {
  display: inline;
  font-size: 9px;
}

footer h6, footer p {
  padding-top: 2rem;
}

footer .social {
  padding: 1rem 0;
}

footer .social a {
  color: #fff;
}

footer .social a i {
  font-size: 3em;
  padding: 1rem;
}

footer .social .flex--social {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (min-width: 1201px) {
  #mobile-menu {
    display: none;
  }
  .flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .grid--laptop {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  .grid--screen {
    -ms-grid-columns: (1fr)[4] !important;
        grid-template-columns: repeat(4, 1fr) !important;
  }
  .career__grid article {
    margin-top: 2rem;
  }
}

@media screen and (min-width: 768px) {
  .grid--tablet {
    -ms-grid-columns: 1fr 2fr;
        grid-template-columns: 1fr 2fr;
  }
  .grid--screen {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .grid--social {
    -ms-grid-columns: 1fr 2fr 1fr;
        grid-template-columns: 1fr 2fr 1fr;
  }
  .career__grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}
/*# sourceMappingURL=style.css.map */